html {
  box-sizing: border-box;
  font-size: 16px;
  margin-top: 20px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

img {
  max-width: 100%;
  height: auto;
}

.right {
  float: right;
}

.company,
.education {
  margin: 0 80px;
}
.company h3,
.education h3 {
  color: #6b3fa0;
  margin: 0;
}
.company-location,
.education-location {
  float: right;
  margin: 0;
}
.company ul,
.education ul {
  padding-left: 25px;
  font-size: 17px;
}
.company-tech {
  color: #00755e;
  margin: 0;
}

.skill-item {
  display: block;
  margin-top: 15px;
}
.skill h3 {
  display: inline;
}
.skill span {
  display: inline;
  font-size: 20px;
  margin-right: 10px;
}
.skill-js {
  background-color: #ffc107 !important;
}
.skill-react {
  background-color: #61dafb !important;
}
.skill-nodejs {
  background-color: #00cc99 !important;
}
.skill-go {
  background-color: #91cbff !important;
}
.skill-python {
  background-color: #629ccd !important;
}
.skill-ruby {
  background-color: #fd0e35 !important;
}
